
//colors
$colorPrimary : #1C1C1C;
$colorSecondary:#343434;

$colorWhite: #FFF ;
$colorFaded: #7B7B7B;

// Break Points
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
$bp-1350: 1350px; // 1350px
$bp-500 :500px